html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:#F1F1F1;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

div, input, button, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
}


h2
{
    margin: 0;
    padding: 0 7px;
    line-height: 48px;
    color: #ffffff;
}

/* header */
.header
{
    height: 48px;
    width: 72%;
    overflow: hidden;
    background-color: #3398DA;
    border-bottom: solid 1px #e3e3e3;
    z-index: 10;
    left: 14%;
    position: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* content */
#everything
{
    width: 70%;
    display: flex;
    justify-content: center;
}


#conversation {
    display: flex;
    flex-direction: column;
}

.container {
    width: 72%;
    position: fixed;
    top: 48px;
    left: 14%;
    bottom: 120px;    
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: solid 10px #3398DA;
    border-right: solid 10px #3398DA;
}
#conversation_column {
    /*! border: solid 1px #201E20; */
    width: 72%;
    left: 14%;
    position: fixed;
}

#conversation {
    /*! padding: 2px; */
    /*! line-height: 4px; */
}
#conversation .message_line {
    line-height: initial;
}

.message_line
{
    border: solid 1px #B6B4B6;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: auto;
    min-width: 60%;
    max-width: 90%;
}

.message_line.rebo
{
    margin-right: auto;
    margin-left: 10px;
}

.message
{
    padding: 7px;
    border-top: solid 1px #FFF;
    white-space: pre-wrap;
    background: white;
}

.info {
    display: table;
    width: 100%;
    padding: 4px 7px;
    color: #ffffff;
}
.user
{
    display: table-cell;
    float:left;
}
.date
{
    font: inherit;
    display: table-cell;
    float:right;
}

/* footer */
.control
{
    position: fixed;
    width: 72%;
    height: 120px;
    bottom: 0;
    left: 14%;
    overflow: hidden;
    padding: 7px;
    background-color: #3398DA;
    border-top: solid 1px #B6B4B6;
}
.control * {
    display: table-cell;
    border-collapse: collapse;
}
#message_div {
    display: block;
    padding-bottom: 7px;
}
#data
{
    width: 100%;
    height: 60px;
    resize: none;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;   
    border: solid 1px #B6B4B6;
    border-radius: 3px;
}

#messagebutton_div 
{
    white-space: nowrap;
}

#conversation_text_div button,
.button {
    height: 29px;
    background-color:#F39C12;
    border-radius: 3px;
    border: 1px solid #B6B4B6;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-weight: bold;
    padding: 5px 7px;
    text-decoration:none;
    margin-right: 5px;
}
#conversation_text_div button:hover,
.button:hover {
    background-color:#d68a17;
}
.button:active {
    position:relative;
    top:1px;
}
#conv_message {
    margin-right: 0;
}

#ready_button {
    display: none;
}
.blinker
{
    display: none;
    border-radius: 3px;
    background-color: rgba(255,255,255,.5);
    height: 29px;
    overflow: hidden;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 7px;
    color: #F39C12;
}

#conversation_text_div
{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    border: solid 1px #B6B4B6;
    border-radius: 3px;
    background-color: #3398DA;
    padding: 7px;
    z-index: 100;
}

#conversation_text_div h3 {
    color: #fff;
    margin: 0;
    padding: 5px 0;
    padding-left: 3px;
    width: 350px;
}

#conversation_text_div button {
    position: absolute;
    top: 8px;
    right: 2px;
}

#conversation_text {
    width: 100%;
    height: 330px;
    padding: 4px;
    border: solid 1px #B6B4B6;
    border-radius: 3px;
    resize: none;
    color: #000;
}

#logo {
    position: absolute;
    top 48px;
    left: 5%;
    top: 48px;
}
